@model SAC.Models.CajaModelView

@{
    ViewBag.Title = "Cierre de Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> ListaCajaCierre = (List<SelectListItem>)ViewBag.Listapagina;
}

<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.1em 1em;
    }

    .table td, .table th {
        padding: .25rem;
    }

    .dataTables_wrapper {
        padding-top: 0px;
    }

    .form-group {
        margin-bottom: 5px;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-body">
                        <h6 class="card-title">Cierre de Caja</h6>
                        <div class="form-body">

                            <div class="row">
                                @*<div class="col-4">
                                        <div class="form-group text-right">
                                            Saldo Inicial
                                        </div>
                                    </div>*@
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="form-control-sm">Seleccione un Cierre</label>
                                            @Html.DropDownList("Fecha", ListaCajaCierre, null, new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="form-control-sm"> Pesos</label>
                                        @Html.EditorFor(model => model.CajaSaldoInicial.ImporteFinalPesos, new { htmlAttributes = new { @class = "form-control form-control-sm", @onKeyUp = "format(this)", @onchange = "format(this)" } })

                                    </div>

                                </div>

                                <div class="col-2">
                                    <div class="form-group">

                                        <label class="form-control-sm"> Dolares</label>
                                        @Html.EditorFor(model => model.CajaSaldoInicial.ImporteFinalDolares, new { htmlAttributes = new { @class = "form-control form-control-sm", @onKeyUp = "format(this)", @onchange = "format(this)" } })


                                    </div>

                                </div>

                                <div class="col-2">

                                    <div class="form-group">

                                        <label class="form-control-sm">Depositos</label>
                                        @Html.EditorFor(model => model.CajaSaldoInicial.ImporteFinalDepositos, new { htmlAttributes = new { @class = "form-control form-control-sm", @onKeyUp = "format(this)", @onchange = "format(this)" } })

                                    </div>

                                </div>

                                <div class="col-2">

                                    <div class="form-group">

                                        <label class="form-control-sm"> Tarjetas</label>
                                        @Html.EditorFor(model => model.CajaSaldoInicial.ImporteFinalTarjetas, new { htmlAttributes = new { @class = "form-control form-control-sm", @onKeyUp = "format(this)", @onchange = "format(this)" } })


                                    </div>

                                </div>


                            </div>

                            <div class="table-responsive">

                                <table id="example23" class="table stylish-table">

                                    <thead>
                                        <tr>
                                            <th style="max-width: 33%;">Concepto</th>
                                            <th class="text-center">Pesos</th>
                                            <th>Dolares</th>
                                            <th>Cheques</th>
                                            <th>Tarjeta</th>
                                            <th>Fecha</th>
                                            <th>Grupo Caja</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            decimal TotalPesos = 0;
                                            decimal TotalDolares = 0;
                                            decimal TotalCheque = 0;
                                            decimal TotalTarjeta = 0;
                                            decimal TotalDeposito = 0;
                                        }


                                        @foreach (var item in Model.ListaCaja)
                                        {

                                            TotalPesos += item.ImportePesos;
                                            TotalDolares += item.ImportePesos;
                                            TotalCheque += item.ImporteCheque;
                                            TotalTarjeta += item.ImporteTarjeta;
                                            TotalDeposito += item.ImporteDeposito;

                                            <tr>
                                                <td style="max-width: 33%;">
                                                    @Html.DisplayFor(modelItem => item.Concepto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ImportePesos)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ImporteDolar)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ImporteCheque)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ImporteTarjeta)
                                                </td>

                                                <td>
                                                    @Convert.ToDateTime(item.Fecha).ToString("dd/MM/yyyy")
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GrupoCaja.Codigo)
                                                </td>

                                            </tr>

                                        }

                                    </tbody>

                                </table>


                            </div>

                            <div class="row m-t-10">
                                <div class="col-4">
                                    <div class="form-group text-right">
                                        Saldo Procesado
                                    </div>
                                </div>


                                <div class="col-2">
                                    <div class="form-group">
                                        @*<label class=""> Pesos</label>*@
                                        <input type="text" id="ProcesadoPesos" value="@Html.Raw(TotalPesos)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />
                                    </div>

                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        @*<label> Dolares</label>*@
                                        <input type="text" id="ProcesadoDolares" value="@Html.Raw(TotalDolares)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />
                                    </div>

                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        @*<label>Depositos</label>*@
                                        <input type="text" id="ProcesadoDepositos" value="@Html.Raw(TotalDeposito)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        @*<label> Tarjetas</label>*@
                                        <input type="text" id="ProcesadoTarjeta" value="@Html.Raw(TotalTarjeta)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group text-right">
                                        Saldo Final
                                    </div>
                                </div>


                                <div class="col-2">
                                    <div>
                                        @*<label class=""> Pesos</label>*@
                                        <input type="text" id="FinalPesos" value="@Html.Raw(TotalPesos)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />
                                    </div>

                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        @*<label> Dolares</label>*@
                                        <input type="text" id="FinalDolares" value="@Html.Raw(TotalDolares)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />
                                    </div>

                                </div>

                                <div class="col-2">

                                    <div class="form-group">

                                        @*<label>Depositos</label>*@
                                        <input type="text" id="FinalDepositos" value="@Html.Raw(TotalDeposito)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />
                                    </div>

                                </div>

                                <div class="col-2">

                                    <div class="form-group">

                                        @*<label> Tarjetas</label>*@
                                        <input type="text" id="Final" value="@Html.Raw(TotalTarjeta)" class="form-control form-control-sm" onKeyUp="format(this)" onchange="format(this)" />

                                    </div>

                                </div>

                            </div>

                            <div class="row m-t-30  justify-content-md-center">
                                <div class="col-md-4">
                                    <div class="form-group row  ">
                                        @Html.LabelFor(m => m.FechaCierre, new { @class = " control-label form-control-sm col-md-6 text-right" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.FechaCierre, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                            @Html.ValidationMessageFor(model => model.FechaCierre, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success btn-sm"> <i class="fa fa-check"></i> Confirmar Cierre de Caja</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

}

@section Scripts{


    <!-- Date Picker Plugin JavaScript -->
    <script src="/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/js/mask.js"></script>
    <script src="~/Scripts/view/CajaScript.js"></script>


    <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>

}












