@model SAC.Models.CajaModelView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    List<SelectListItem> ListaCodigoCaja = (List<SelectListItem>)ViewBag.Listapagina;

<div class="form-horizontal">
    <h4>CajaModelView</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <h2 class="page-header">Registracion</h2>
                <div class="card-body">
                    <form action="#">
                        <div class="form-body">

                            <div class="row col-12">



                                <div class="col-9">


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Concepto, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.Concepto, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Concepto, "", new { @class = "text-danger" })

                                    </div>


                                </div>


                            </div>



                            <div class="row col-12">

                                <div class="col-3">

                                    <div class="form-group">

                                        @Html.LabelFor(m => m.Fecha, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger form-control-sm " })
                                    </div>


                                </div>


                                <div class="col-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ImportePesos, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ImportePesos, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImportePesos, "", new { @class = "text-danger" })

                                    </div>

                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ImporteDolar, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ImporteDolar, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImporteDolar, "", new { @class = "text-danger" })

                                    </div>

                                </div>

                                <div class="col-3">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ImporteDeposito, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ImporteDeposito, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImporteDeposito, "", new { @class = "text-danger" })

                                    </div>

                                </div>

                            </div>
                            <div class="row col-12">
                                <div class="col-6">
                                    <div class="form-group">

                                        <label for="readonly5">Grupo Caja</label>
                                        @Html.DropDownList("IdGrupoCaja", ListaCodigoCaja, null, new { @class = "form-control" })
                                        @Html.ValidationMessage("IdGrupoCaja", new { @class = "text-danger" })

                                    </div>
                                </div>


                                <div class="col-3">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ImporteTarjeta, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ImporteTarjeta, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImporteTarjeta, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-3">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ImporteCheque, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ImporteCheque, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImporteCheque, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <hr>



                            <div class="row col-12">
                                <p>
                                    <button type="submit" class="btn btn-success btn-sm"> <i class="fa fa-check"></i> Guardar</button>
                                    @Html.ActionLink("Cancelar", "Index", "Caja", htmlAttributes: new { @class = "btn btn-dark btn-sm" })
                                </p>
                            </div>




                        </div>



                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>


</div>




}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
