@model SAC.Models.EventoModelView

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- page css -->
<link href="/Content/assets/css/pages/floating-label.css" rel="stylesheet">
<link href="~/Content/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
<!-- Page plugins css
-->
<link href="~/Content/assets/plugins/bootstrap-datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/timepicker-plugin/jquery.timepicker.css" rel="stylesheet" />

<style>
    .switchery {
        min-width: 100px;
        /*your width border: 2px solid black;*/
    }

        .switchery:before {
            content: 'Todo el dia ?';
            /* your text color: #333;*/
            position: absolute;
            font-size: 10px;
            left: 30px;
            top: 50%;
            transform: translateY(-50%) translateX(-10%);
        }

    .js-switch:checked + .switchery:before {
        color: #fff;
        content: 'Todo el dia';
        font-size:10px;
        min-width: 100px;
        left: 20px;
    }
</style>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Eventos</h3>
    </div>
</div>
<div>
    @if (TempData["erro"] != null)
    {
        @Html.Partial("_PartialMsgErro");
    }
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                @using (Html.BeginForm("Crear", "Evento", FormMethod.Post, new { @class = "floating-labels ", novalidate = true }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-xlg-12 col-lg-12 col-md-12">
                        <div class="card-body ">
                            <h3 class="card-title m-b-40">Crear Evento</h3>

                            <div class="row  " id="datepairExample">

                                
                               
                                <div class="form-group col-xlg-2 col-lg-2 col-md-2">

                                    <div class="switchery-demo m-b-30">

                                        @Html.CheckBoxFor(model => model.TodoElDia, new { @class = "js-switch form-control-line" })

                                    </div>

                                </div>

                                <div class="form-group m-b-40 col-xlg-3 col-lg-3 col-md-3">
                                    @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "date start form-control", @type = "text" } })
                                    <span class="bar"></span>
                                    <label for="FechaInicio">Fecha de inicio</label>
                                </div>
                                <div class="form-group m-b-40  col-xlg-2 col-lg-2 col-md-2">
                                    @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @class = " time start  form-control", @type = "text" } })
                                    <span class="bar"></span>
                                    <label for="HoraInicio">Hora de inicio</label>
                                </div>
                                <div class="form-group m-b-40  col-xlg-3 col-lg-3 col-md-3">
                                    <label></label>
                                    @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "date end  form-control", @type = "text" } })
                                    <span class="bar"></span>
                                    <label for="FechaFin">Fecha de finalización</label>
                                </div>
                                <div class="form-group m-b-40   col-xlg-2 col-lg-2 col-md-2">
                                    @Html.EditorFor(model => model.HoraFin, new { htmlAttributes = new { @class = "time end  form-control", @type = "text" } })
                                    <span class="bar"></span>
                                    <label for="HoraFin">Hora de finalización</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xlg-6 col-lg-6 col-md-6">
                                    <div class="form-group m-b-40">
                                        @Html.EditorFor(model => model.Asisten, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "true" } })
                                        <span class="bar"></span>
                                        <label for="Asisten">Asisten:</label>
                                    </div>
                                </div>

                                <div class="col-xlg-6 col-lg-6 col-md-6">
                                    <div class="form-group m-b-40">
                                        @Html.EditorFor(model => model.Organizador, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        <span class="bar"></span>
                                        <label for="Recibido">Organizador:</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xlg-6 col-lg-6 col-md-6">
                                    <div class="form-group m-b-40">
                                        @Html.EditorFor(model => model.Recibido, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "true" } })
                                        <span class="bar"></span>
                                        <label for="Recibido">Recibido:</label>
                                    </div>
                                </div>

                                <div class="col-xlg-6 col-lg-6 col-md-6">
                                    <div class="form-group m-b-40">
                                        @Html.EditorFor(model => model.Pasado, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        <span class="bar"></span>
                                        <label for="Recibido">Pasado A:</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xlg-6 col-lg-6 col-md-6">
                                    <div class="form-group m-b-40">

                                        @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        <span class="bar"></span>
                                        <label for="Recibido">Tipo:</label>
                                    </div>
                                </div>
                                <div class="col-xlg-6 col-lg-6 col-md-6">
                                    <div class="form-group m-b-40">

                                        @Html.DropDownListFor(model => model.IdPrioridad,
                                       (IEnumerable<SelectListItem>)(ViewBag.selectListPrioridad), null, new { @class = "form-control p-0" })
                                        <label for="IdPrioridad">Prioridad</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xlg-12 col-lg-12 col-md-12">
                                    <div class="form-group m-b-40">
                                        @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        <span class="bar"></span>
                                        <label for="Recibido">Ubicacion:</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xlg-12 col-lg-12 col-md-12">
                                    <div class="form-group  m-b-40">
                                        @Html.TextAreaFor(model => model.Obs, new { cols = "150", rows = "8", @class = "textarea_editor form-control" })
                                        <span class="bar"></span>
                                        <label for="Recibido">Ingrese las Observaciones:</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xlg-12 col-lg-12 col-md-12 text-center">
                                    <button type="submit" class="btn btn-success m-t-20"><i class="fa fa-envelope-o"></i> Guardar</button>
                                    <a href="@Url.Action("Index", "Evento")" class="btn btn-inverse m-t-20"><i class="fa fa-times"></i> Cancelar </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->


@section Scripts{

    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Plugin JavaScript -->


    <script src="~/Scripts/js/jasny-bootstrap.js"></script>
    <!-- Date Picker Plugin JavaScript -->

    <script src="~/content/assets/plugins/moment/moment.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/Content/assets/plugins/timepicker-plugin/jquery.timepicker.js"></script>
    <script src="~/Content/assets/plugins/timepicker-plugin/Datepair/datepair.js"></script>
    <script src="~/Content/assets/plugins/timepicker-plugin/Datepair/jquery.datepair.min.js"></script>

    <!--Wave Effects -->
    <script src="~/Scripts/js/waves.js"></script>

    <script src="~/Content/assets/plugins/switchery/dist/switchery.min.js"></script>


    <script>

        $(function () {


            $('#sound-active-input').prop('checked', true);



            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery(
                    $(this)[0],
                    { size: 'small' });
            });
            /*
                 $('.js-switch').each(function () {
                new Switchery(
                    $(this)[0],
                    $(this).data()
                );
            });
             */

            // initialize input widgets first
            $('#datepairExample .time').timepicker({
                'showDuration': true,
                'timeFormat': 'H:i'
            });

            $('#datepairExample .date').datepicker({
                //daysOfWeekDisabled: [0,6],
                format: "dd/mm/yyyy",
                autoclose: true,
                todayBtn: true
            });

            // initialize datepair
            // $('#datepairExample').datepair();

            $('.time').val(moment().format('HH:mm'));
            $('.date').val(moment().format('DD/MM/YYYY'));

        });
    </script>
}


