@model IEnumerable<SAC.Models.EventoModelView>

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- page css
<link href="/Content/assets/css/pages/inbox.css" rel="stylesheet">-->
<link href="~/Content/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<div>
    @if (TempData["sucesso"] != null)
    {
        @Html.Partial("_PartialMsgSucesso");
    }
    else if (TempData["erro"] != null)
    {
        @Html.Partial("_PartialMsgErro");
    }
</div>



<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Eventos</h4>
    </div>

</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xlg-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Gestión de Eventos </h6>
                <h6 class="card-subtitle">                    
       
                </h6>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Inicio
                                </th>
                                <th>
                                    Finalización
                                </th>
                                <th>
                                    Asisten
                                </th>
                                <th>
                                    Organizador
                                </th>
                                <th>
                                    Recibido
                                </th>
                                <th>
                                    Ubicación
                                </th>
                                <th>
                                    Prioridad
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="@("table-" + item.Prioridad.Color)">

                                <td style="width:50px;">
                                    <a href="@Url.Action("Details", "Evento",new { id = item.Id })" data-toggle="tooltip" data-original-title="Detalles" class="btn waves-effect waves-light btn-rounded btn-xs btn-dark"><i class="fa  fa-file text-info"></i></a>
                                    <a href="@Url.Action("Edit", "Evento",new { id = item.Id })" data-toggle="tooltip" data-original-title="Editar" class="btn waves-effect waves-light btn-rounded btn-xs btn-dark"><i class="fa fa-pencil text-success"></i></a>
                                    <a href="@Url.Action("Delete", "Evento" ,new { id = item.Id })" data-toggle="tooltip" data-original-title="Eliminar " class="btn waves-effect waves-light btn-rounded btn-xs btn-dark"> <i class="fa fa-close text-danger"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaFin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asisten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Organizador)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Recibido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ubicacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prioridad.Nombre)
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->



@section Scripts{

    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- This is data table -->

    <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">


        $(function () {
         
            $('#example23').DataTable({
                "language": { "url": "../Content/assets/plugins/datatables/es.txt" },
                "order": [[2, 'asc']]
            });

        });
    </script>
}