@model IEnumerable<Agenda.Models.EventoModelView>

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ===========================================================
    
    === -->
<div class="container-fluid ">

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row m-3">

        <!-- column -->
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body b-l b-r">
                    <h4 class="card-title">Eventos </h4>
                    <h6 class="card-subtitle">Add class <code>.table</code></h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.fechaInicio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.horaInicio)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.asisten)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.enviado)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ubicacion)
                                    </th>

                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                               

                                    @foreach (var item in Model)
                                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.horaInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.asisten)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.enviado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ubicacion)
                                    </td>
                                    <td>

                                        @Html.ActionLink("Detalles", "Evento", new { id = item.id }, new { @class = "btn waves-effect waves-light btn-xs btn-info" })
                                    </td>
                                </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->


<script type="text/javascript">


</script>
