@model  SAC.Models.Cobro.CobroClienteModelView

@{
    ViewBag.Title = "Cobros";
    <!-- Date picker plugins css -->
    <link href="/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-xlg-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <label>Cobros</label>

                @using (Html.BeginForm("Index", "Cobro", FormMethod.Get, new { @id = "frmBusqueda" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IdCliente)

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <small>Cliente</small>
                                <div class="input-group">
                                    <input type="text" id="NombreCliente" class="form-control form-control-sm" placeholder="Nombre del cliente">
                                    <span class="input-group-btn">
                                        <button type="submit" value="Buscar" class="btn btn-dark btn-sm">Buscar</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        @if (Model.Cliente != null)
                        {
                            <div class="col-xlg-3 col-lg-3 col-md-3">
                                <small>Cliente</small>
                                <div class="form-group">
                                    <h6> @Model.Cliente.Nombre</h6>
                                </div>
                            </div>
                            <div class="col-xlg-2 col-lg-2 col-md-2">
                                <small>CUIT</small>
                                <div class="form-group">
                                    <h6>
                                        @{
                                            var cuit = (Model.Cliente.Cuit != null) ? Model.Cliente.Cuit : "0-0000000-00";
                                        }
                                        @cuit
                                    </h6>
                                </div>
                            </div>
                            <div class="col-xlg-2 col-lg-2 col-md-2">
                                <small>Tipo</small>
                                <div class="form-group">
                                    <h6> @Model.Cliente.TipoCliente.Descripcion</h6>
                                </div>
                            </div>
                        }

                    </div>
                }



                @if (Model.Cliente != null)
                {

                    <div class="row">


                        <div class="col-xlg-2 col-lg-2 col-md-2">
                            <small>Operación en</small>
                            <div class="form-group">
                                @Html.DropDownList("IdTipoMoneda", Model.SelectTipoMoneda, null, new { @class = "form-control form-control-sm" })
                                @Html.ValidationMessage("IdTipoMoneda", new { @class = "text-danger form-control-sm" })
                            </div>
                        </div>
                        <div class="col-xlg-1 col-lg-1 col-md-1">
                            <small>Cotización</small>
                            <div class="form-group ">
                                @Html.TextBoxFor(c => c.Cotizacion, new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-xlg-1 col-lg-1 col-md-1">
                            <small>Periodo</small>
                            <div class="form-group ">
                                @Html.TextBoxFor(c => c.Periodo, new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="col-xlg-2 col-lg-2 col-md-2">
                            <small>Fecha </small>
                            <div class="form-group">
                                <input type="text" id="searchFecha" name="searchFecha"
                                       class="form-control form-control-sm Calendario"
                                       data-validation-required-message="Ingrese una fecha">
                            </div>
                        </div>
                    </div>

                    if (Model.CuentaCorriente != null)
                    {
                        <div class="row m-t-5">
                            <div class="col-md-6">

                                <h5>Cuenta Corriente</h5>
                                @{
                                    decimal saldoCtaCte = 0;
                                }
                                <div class="table-responsive">
                                    <table id="TblFacturasAPagar" class="table stylish-table">
                                        <thead>
                                            <tr>
                                                <td class="text-center">Factura</td>
                                                <td class="text-center">Tipo</td>
                                                <td class="text-center">Fecha</td>
                                                <td class="text-center">Total</td>
                                                <td class="text-center">Parcial</td>
                                                <td class="text-center">Saldo</td>
                                                <td class="text-center">Cotizacion</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td class="text-center">fv</td>
                                                <td class="text-center">20/01/2021</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center">2</td>
                                                <td class="text-center">3</td>
                                                <td class="text-center">1</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>
                                </div>

                                <div class="row justify-content-md-center">
                                    <div class="col-md-4 text-right">
                                        <small>Saldo de Cta. Cte. </small>
                                    </div>

                                    <div class="col-md-6 text-left">
                                        <small id="sldocta" class="font-weight-bold"> @saldoCtaCte</small>
                                    </div>

                                </div>


                            </div>

                            <div class="col-md-6">
                                <h5>Resumen del Cobro</h5>
                                <div class="table-responsive">
                                    <table id="TblResumenCobro" class="table stylish-table">
                                        <thead>
                                            <tr>
                                                <td class="text-center">Factura</td>
                                                <td class="text-center">Imp. Total</td>
                                                <td class="text-center">Pago</td>
                                                <td class="text-center">Aplicacion</td>
                                                <td class="text-center">Saldo</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                        </div>
                    }



                    using (Ajax.BeginForm("IngresoDelCobro", "Cobro", null, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        //OnSuccess = "OkPago",
                        UpdateTargetId = "divPagina1",
                        InsertionMode = InsertionMode.Replace
                    }, new { @id = "frmCrearCobro" }))
                    {
                        @Html.HiddenFor(model => model.IdCliente)
                        <div class="row col-md-12 m-t-10" id="DivMediosPago">
                            <div class="col-md-8">
                                <small>Generar pago</small>
                                <div class="row ">
                                    <div class="col-md-3  text-right"> @Html.Label("Concepto", new { @class = "control-label form-control-sm" }) </div>
                                    <div class="col-md-9"> @Html.TextBoxFor(p => p.ConceptoCobro, new { @class = "form-control form-control-sm" })</div>
                                </div>

                                <div class="row  m-t-5">
                                    <div class="col-md-3  text-right">
                                        @Html.Label("Nro Recibo", new { @class = "control-label form-control-sm" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(p => p.NumeroRecibo, new { @class = "form-control form-control-sm" })                                     
                                    </div>

                                    <div class="col-md-3  text-right">
                                        @Html.Label("Efectivo", new { @class = "control-label form-control-sm" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(p => p.montoEfectivo, new { @class = "form-control form-control-sm", @onkeyup = "SumarTotalPago()" })
                                    </div>
                                </div>

                                <div class="row  m-t-5">
                                    <div class="col-md-3  text-right"> @Html.Label("Presupuesto", new { @class = "control-label form-control-sm" }) </div>
                                    <div class="col-md-3">@Html.DropDownList("idPresupuesto", Model.SelectPresupuestoActual, null, new { @class = "form-control form-control-sm" }) </div>


                                    <div class="col-md-3  text-right">
                                        <input type="button" class="btn btn-secondary btn-sm" id="btnSelCheque" onclick="fnVerModalCheques();" value="Cheque">
                                    </div>
                                    <div class="col-md-3  text-left">
                                        @Html.EditorFor(p => p.montoChequesSeleccionados, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = true } })
                                    </div>
                                </div>


                                <div class="row  m-t-5">
                                    <div class="col-md-3 text-right">

                                    </div>
                                    <div class="col-md-3">

                                    </div>

                                    <div class="col-md-3">
                                        @Html.DropDownList("IdTarjeta", Model.SelectTarjetas, null, new { @class = "form-control form-control-sm" })                                     
                                        @Html.ValidationMessage("IdTarjeta", new { @class = "text-danger form-control-sm" })
                                    </div>

                                    <div class="col-md-3">@Html.TextBoxFor(p => p.montoTarjeta, new { @class = "form-control form-control-sm", @onkeyup = "SumarTotalPago()" })</div>




                                </div>
                                <div class="row  m-t-5">
                                    <div class="col-md-6"></div>
                                    @*<div class="col-md-3  text-right"> @Html.Label("Cuenta Banco", new { @class = "control-label form-control-sm" }) </div>*@
                                    <div class="col-md-3">@Html.DropDownList("idCuentaBancariaSelec_", Model.SelectCuentasBancarias, null, new { @class = "form-control form-control-sm" }) </div>
                                    <div class="col-md-3">@Html.TextBoxFor(p => p.montoCuentaBancaria, new { @class = "form-control form-control-sm", @onkeyup = "SumarTotalPago()" })</div>
                                </div>
                                <div class="row  m-t-5">
                                    <div class="col-md-6"></div>
                                             </div>
                                <div class="row  m-t-5">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3  text-right">
                                        <input type="button" class="btn btn-secondary btn-sm" id="btnSelRetencion" onclick="fnVerModalRetencion();" value="Retención">
                                    </div>
                                    <div class="col-md-3  text-left">
                                        @Html.EditorFor(p => p.montoRetencion_, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = true } })
                                    </div>
                                </div>
                                <div class="row  m-t-5">

                                </div>

                                <div class="row  m-t-5">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3  text-right"> @Html.Label("Total", new { @class = "control-label form-control-sm" }) </div>
                                    <div class="col-md-3"> @Html.TextBoxFor(p => p.montoTotal, new { @class = "form-control form-control-sm" })</div>
                                </div>
                                <div class="row  m-t-5">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3">
                                        <input type="button" class="btn btn-success btn-block btn-sm" id="btnSelPago" onkeypress="EjecutarPago()" onclick="EjecutarPago()" value="Generar Pago">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="row  m-t-40">
                                </div>
                                <div class="row  m-t-5">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6  text-left">
                                        <input type="button" class="btn btn-success btn-block btn-sm" style="display:none" id="btnGenerarPago" onclick="PagarFinal()" value=" Confirmar Pago ">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="button" class="btn btn-danger btn-block btn-sm" id="btnCancelarPago" onclick="CancelarPago()" value="Cancelar">
                                    </div>

                                </div>
                            </div>
                        </div>
                    }


                }



            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Date Picker Plugin JavaScript -->
    <script src="/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <!-- This is data table -->
    <script src="/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="~/Content/assets/plugins/datatables/jsTable/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jsTable/buttons.flash.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jsTable/jszip.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jsTable/pdfmake.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jsTable/vfs_fonts.js"></script>
    <script src="~/Content/assets/plugins/datatables/jsTable/buttons.html5.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jsTable/buttons.print.min.js"></script>


    <script src="~/Scripts/view/Cobro/Cobro.js"></script>



    <script type="text/javascript">


        function fn() {
        }


    </script>
}


