@model SAC.Models.UsuarioModelView

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- page css -->
<link href="/Content/assets/css/pages/floating-label.css" rel="stylesheet">
<link href="~/Content/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
<!-- Page plugins css
-->
<link href="~/Content/assets/plugins/bootstrap-datepicker/datepicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/timepicker-plugin/jquery.timepicker.css" rel="stylesheet" />

<style>
    .switchery {
        min-width: 100px;
        /*your width border: 2px solid black;*/
    }

        .switchery:before {
            content: 'Todo el dia ?';
            /* your text color: #333;*/
            position: absolute;
            font-size: 10px;
            left: 30px;
            top: 50%;
            transform: translateY(-50%) translateX(-10%);
        }

    .js-switch:checked + .switchery:before {
        color: #fff;
        content: 'Todo el dia';
        font-size:10px;
        min-width: 100px;
        left: 20px;
    }
</style>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Usuario</h3>
    </div>
</div>
<div>
    @if (TempData["erro"] != null)
    {
        @Html.Partial("_PartialMsgErro");
    }
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "floating-labels ", novalidate = true }))
            {
                @Html.AntiForgeryToken()

            <div class="card-body ">
                <h3 class="card-title m-b-40">Crear Usuario</h3>

                @if (Model == null)
                {
                    <div class="row m-b-30">
                        <div class="col-xlg-12 col-lg-12 col-md-12 text-center">
                            <div class="input-group">
                                <input type="text" id="DniUniformado" name="DniUniformado" class="form-control" placeholder="Ingrese Nro. de  DNI del Usuario">
                                <span class="input-group-btn">

                                    <input type="submit" value="Buscar" formaction="@Url.Action("Crear", "Usuario")" class="btn btn-info" data-toggle="tooltip" data-original-title="Busca en SGP" />
                                </span>
                            </div>
                        </div>
                    </div>
                }
                else
                {



                    @Html.HiddenFor(Model => @Model.Persona.Documento)
                    @Html.HiddenFor(Model => @Model.Persona.Apellido)
                    @Html.HiddenFor(Model => @Model.Unidad)


                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xlg-6">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-3 text-center">
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="col-md-8 col-lg-9">
                                        <h5 class="box-title m-b-0">@Model.Grado  @Model.Persona.Apellido</h5>
                                        <small>DNI: @Model.Persona.Documento</small><BR /><BR />
                                        <h6 class="box-title m-b-0">@Model.Unidad </h6> <small></small>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-5 col-xlg-5">
                            <div class="card card-body">
                                <div class="row">

                                    <div class="col-md-12 col-lg-12 col-xlg-12">
                                        <div class="form-group m-b-30">
                                            @*<h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>*@
                                            @Html.DropDownListFor(model => model.idRol, (IEnumerable<SelectListItem>)(ViewBag.Roles), "", new { @class = "form-control" })
                                            <label for="inputControlador">Seleccionar un rol</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-30">
                        <div class="col-xlg-12 col-lg-12 col-md-12 text-center">

                            <a href="@Url.Action("Crear", "Usuario")" class="btn btn-inverse m-t-20"><i class="fa fa-times"></i> Cancelar </a>
                            <a href="@Url.Action("Guardar", "Usuario")" class="btn btn-success m-t-20"><i class="fa fa-check"></i> Guardar </a>

                        </div>
                    </div>


                }

            </div>
            


            }

        </div>
    </div>
</div>




<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->


@section Scripts{

    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Plugin JavaScript -->


    <script src="~/Scripts/js/jasny-bootstrap.js"></script>
    <!-- Date Picker Plugin JavaScript -->

    <script src="~/content/assets/plugins/moment/moment.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/Content/assets/plugins/timepicker-plugin/jquery.timepicker.js"></script>
    <script src="~/Content/assets/plugins/timepicker-plugin/Datepair/datepair.js"></script>
    <script src="~/Content/assets/plugins/timepicker-plugin/Datepair/jquery.datepair.min.js"></script>

    <!--Wave Effects -->
    <script src="~/Scripts/js/waves.js"></script>

    <script src="~/Content/assets/plugins/switchery/dist/switchery.min.js"></script>


    <script>

        $(function () {


            $('#sound-active-input').prop('checked', true);



            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery(
                    $(this)[0],
                    { size: 'small' });
            });
            /*
                 $('.js-switch').each(function () {
                new Switchery(
                    $(this)[0],
                    $(this).data()
                );
            });
             */

            // initialize input widgets first
            $('#datepairExample .time').timepicker({
                'showDuration': true,
                'timeFormat': 'H:i'
            });

            $('#datepairExample .date').datepicker({
                //daysOfWeekDisabled: [0,6],
                format: "dd/mm/yyyy",
                autoclose: true,
                todayBtn: true
            });

            // initialize datepair
            // $('#datepairExample').datepair();

            $('.time').val(moment().format('HH:mm'));
            $('.date').val(moment().format('DD/MM/YYYY'));

        });
    </script>
}


