@model List<SAC.Models.CuentaCteProveedorModelView>


<div class="table-responsive">
    <table id="TblProveedor" class="table stylish-table">

        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model[0].ProveedorCodigo)</th>
                <th> @Html.DisplayNameFor(model => model[0].ProveedorNombre)</th>
                <th> @Html.DisplayNameFor(model => model[0].MontoPesos)</th>
                <th> @Html.DisplayNameFor(model => model[0].MontoDolares)</th>
                <th> @Html.DisplayNameFor(model => model[0].TotalDeuda)</th>
                <th> @Html.DisplayNameFor(model => model[0].UltimoMovimiento)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr ondblclick="IraPagar(@item.ProveedorCodigo)">
                    <td>@Html.DisplayFor(modelItem => item.ProveedorCodigo)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProveedorNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.MontoPesos)</td>
                    <td>@Html.DisplayFor(modelItem => item.MontoDolares)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalDeuda)</td>
                    <td>@Html.DisplayFor(modelItem => item.UltimoMovimiento)</td>
                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>

<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2"><label class="font-weight-bold"> Total Pesos: @Html.Label(Model.Sum(x => x.MontoPesos).ToString())</label></div>
    <div class="col-md-2"><label class="font-weight-bold"> Total Dolares: @Html.Label(Model.Sum(x => x.MontoDolares).ToString())</label></div>
    <div class="col-md-5"></div>
</div>
