@model SAC.Models.FacturaPagoViewModel


<!-- Date picker plugins css -->
<link href="/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />


<div id="PanelInsertar">
    @using (Ajax.BeginForm("IngresarCheque", "", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divPagina",
        OnComplete = "onCompleteIngresarCheque",

    }, new { @id = "frmInsercion" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="card" style="margin-bottom: 0px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <small>Cuenta</small>
                            @Html.DropDownListFor(x => x.idCuentaBancariaSeleccionada, Model.listaCuentaBancariaDrop, "Seleccionar...", new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-md-2">
                            <small>Número</small>
                            @Html.TextBoxFor(p => p.oChequera.NumeroCheque, new { @class = "form-control form-control-sm", @placeholder = "Nro cheque" })
                            @Html.ValidationMessageFor(p => p.oChequera.NumeroCheque, "", new { @class = "text-danger form-control-sm" })
                        </div>

                        <div class="col-md-2">
                            <small>Importe</small>
                            @Html.TextBoxFor(p => p.oChequera.Importes, new { @class = "form-control form-control-sm", @placeholder = "importe" })
                            @Html.ValidationMessageFor(p => p.oChequera.Importes, "", new { @class = "text-danger form-control-sm" })
                        </div>

                        <div class="col-md-2">
                            @*<small>Fecha Ingreso</small>
                                @Html.EditorFor(Model => Model.oChequera.FechaIngreso, new { htmlAttributes = new { @class = "form-control form-control-sm  Calendario", @placeholder = "Fecha Emision", @readonly = true } })*@
                            <small>Fecha Ingreso</small>
                            <input type="text" id="oChequera_FechaIngreso" name="oChequera.FechaIngreso"
                                   class="form-control form-control-sm Calendario"
                                   data-validation-required-message="Ingrese una fecha">
                        </div>
                        <div class="col-md-2">
                            <small>Fecha Efectivo</small>
                            @*@Html.EditorFor(Model => Model.oChequera.FechaEgreso, new { htmlAttributes = new { @class = "form-control form-control-sm  Calendario", @placeholder = "Fecha Emision", @readonly = true } })*@
                            <input type="text" id="oChequera_FechaEgreso" name="oChequera.FechaEgreso"
                                   class="form-control form-control-sm Calendario"
                                   data-validation-required-message="Ingrese una fecha">


                        </div>
                        <div class="col-md-1 m-t-10">
                            <button type="submit" class="btn btn-secondary btn-circle"><i class="fa  fa-save"></i> </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    }
    <div id="loader" class=" aletr" style="display:none">
        <div class="spinner-border"></div>
    </div>
    <div id="divPagina">

    </div>
    
</div>







